[user]
        name = C. Jay Kumar
        email = jay.c.kumar@gmail.com
[core]
        editor = vim
[alias]
        hi = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
        co = checkout
        br = branch
        ci = commit
        st = status
        di = diff
